@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 Custom animations start */
@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scroll-x 120s linear infinite;
}
.animate-scroll-x:hover {
  animation-play-state: paused;
}


